/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* section{
    transition: 0.5s;
    padding: 0;
} */


@font-face {
    font-family: "KunstlerScript";
    src: url("fonts/socialico/socialico-webfont.eot");
    src: url("fonts/socialico/socialico-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/socialico/socialico-webfont.woff2") format("woff2"),
        url("fonts/socialico/socialico-webfont.woff") format("woff"),
        url("fonts/socialico/socialico-webfont.ttf") format("truetype"),
        url("fonts/socialico/socialico-webfont.svg#socialicoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "The Historia Demo";
    src: url("fonts/thehistoriademo/TheHistoriaDemo.ttf");
}

/* this is a test git shit */
/* .hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
} */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}

header {
    background: url('../images/common/home_background.jpg') no-repeat center;
    background-size: cover;
    padding-top: 32px;
    padding-bottom: 32px;
}

#header_container {
    max-width: 1818px;
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#header_container .nav_menu {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_container .nav_menu .header_info {
    max-width: 528px;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 36px;
    padding-bottom: 44px;
}

#header_container .nav_menu .header_info .phone_text {
    font-family: 'Poppins';
}

#header_container .nav_menu .header_info .phone {
    display: flex;

    align-items: center;
    color: #FFFFFF;
}

#header_container .nav_menu .header_info .phone img {
    padding: 0 17px;
}

#header_container .nav_menu .header_info .phone .tel_num {
    font-family: 'Montserrat';
    font-weight: 700;
}

#header_container .nav_menu .header_info .phone::after {
    content: "";
    height: 22px;
    display: block;
    border-right: 1px solid white;
    margin-right: 17px;
    margin-left: 17px;
}

#header_container .nav_menu nav {
    padding: 17px 27px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: auto;
    background-color: #E5BC22;
}

#header_container .nav_menu nav ul {
    display: flex;
    column-gap: 10px;
    font-family: 'Poppins';
    font-size: 13px;
    color: #FFFFFF;
}

#text_container {
    text-align: center;
    margin: 0 auto;
    padding-top: 280px;
    padding-bottom: 78px;
}

#text_container h2 {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 22px;
}

#text_container h3 {
    font-family: 'The Historia Demo';
    font-size: 100px;
    color: #E9E47E;
    font-weight: 200;
    margin-bottom: 44px;
}

.btn {
    max-width: 206px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 17px 0;
    background-color: #E5BC22;
    color: #FFFFFF;
    transition: 0.5s ease;
    font-family: 'Montserrat';
    font-size: 16px;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #E5BC22;
    transition: 0.3s ease;
}


/* #header_container .nav_menu nav ul li:hover {
    /* background-color: #FFFFFF;
    color: #E5BC22;
    padding: 8px; */
    /* border-bottom: 1px solid white;
} */ 

/* === SECTION 2 === */

#who_are_we {
    background: url('../images/common/section_2_background.fw.png')no-repeat center;
    background-size: cover;
}

#who_are_we .container {
    max-width: 1810px;
    width: 100%;
}

#who_are_we .container .card {
    max-width: 1004px;
    width: 100%; 
}

#who_are_we .container .card .text_container {
    max-width: 826px;
    width: 100%;
}

#who_are_we .container .card .text_container h2 {
    font-family: 'Montserrat';
    font-size: 19px;
    color: #E5BA20;
    letter-spacing: 0.4em;
}

#who_are_we .container .card .text_container h3 {
    font-family: 'Montserrat';
    font-size: 50px;
    
}