/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

section{
    transition: 0.5s;
    overflow: hidden;
    padding: 0 30px;
}



@font-face {
    font-family: "KunstlerScript";
    src: url("fonts/socialico/socialico-webfont.eot");
    src: url("fonts/socialico/socialico-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/socialico/socialico-webfont.woff2") format("woff2"),
        url("fonts/socialico/socialico-webfont.woff") format("woff"),
        url("fonts/socialico/socialico-webfont.ttf") format("truetype"),
        url("fonts/socialico/socialico-webfont.svg#socialicoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* this is a test git shit */
/* .hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
} */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #000000;
}

@media screen and (max-width: 1200px) {
    body {
        min-width: 320px
    }
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}

