/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* section{
    transition: 0.5s;
    padding: 0;
} */


@font-face {
    font-family: "KunstlerScript";
    src: url("fonts/socialico/socialico-webfont.eot");
    src: url("fonts/socialico/socialico-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/socialico/socialico-webfont.woff2") format("woff2"),
        url("fonts/socialico/socialico-webfont.woff") format("woff"),
        url("fonts/socialico/socialico-webfont.ttf") format("truetype"),
        url("fonts/socialico/socialico-webfont.svg#socialicoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* this is a test git shit */
/* .hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
} */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}

#section_1 {
    background: url('../images/common/home_background.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100px;
}

.header_content span.header_gap {
    width: 1px;
    height: 22px;
    background-color: #fff;
}

#header_container {
    width: 100%;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 20px;
}

#header_container .header_content {
    max-width: 494px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding-top: 20px;
}

#menu_container .menu_main {
    max-width: 1818px;
    width: 100%;
    margin: auto 50px;
}

#menu_container .menu_main .menu_content {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1818px;
    width: 100%;
}

#menu_container .menu_main .menu_content nav {
    background: #E5BC22;
    padding-right: 0;
    padding-left: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    max-width: 1240px;
    width: 100%;
    margin-right: -60px;
    border-radius: 30px;
}

#menu_container .menu_main .menu_content nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1174px;
    width: 100%;
    margin-right: 20px;
}

#menu_container .menu_main .menu_content nav ul li {
    font-size:  10px;
    word-spacing: 1.9px;
    color: #FFFFFF;
}

#home_content {
    max-width: 1005px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    padding-top: 286px;
}

#home_content .title h4, h5 {
    color: #fff;
    font-size: clamp(0.5rem, 0.5rem + 2.9167vw, 4rem);
}
#home_content .title a {
    padding: 16px 46px;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5BC22;
    color: #FFFFFF;
    transition: 0.5s ease;
}
#home_content .title a:hover {
    background-color: #FFFFFF;
    color: #E5BC22;
    transition: 0.3s ease;
    font-weight: 500;
}


#section_2 {
    background: url('../images/common/section_2_background.fw.png') no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}

#section_2 .section_content {
    width: 90%;
    max-width: 1056px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-top: 350px;
}

#section_2 .section_content .left {
    max-width: 598px;
    width: 100%;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 11px;
}

#section_2 .section_content .right {
    width: 100%;
    max-width: 1004px;
    height: 526px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 90px;
    border-radius: 1px;
    margin-top: -160px;
    margin-left: -560px;
    position: relative;
}

#section_2 .section_content .right .right_content {
    justify-content: justify;
}

#section_2 .section_content .right .right_content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #E5BC22;
}

#section_2 .section_content .right .right_content h3 {
    font-family: 'Monterrat',sans-serif;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, #EBE680, #997E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section_2 .section_content .right .right_content h4 {
    font-family: 'Montserrat',sans-serif;
    font-size: 19px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1.5px;
}

#section_2 .section_content .right .right_content p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);
    color: #FFFFFF;
    margin-top: 16px;
}

#section_2 .section_content .right .right_content p.tel {
    font-size: clamp(0.5rem, -0.3594rem + 2.75vw, 1.1875rem);
}

#section_2 .section_content .right .right_content p span {
    font-family: 'Monterrat',sans-serif;
    font-size: clamp(0.5rem, -0.8281rem + 4.25vw, 1.5625rem);
    background: linear-gradient(to right, #EBE680, #997E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#section_2 .section_content .right a {
    position: absolute;
    background-color: #E5BC22;
    padding: 9px 29px;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    column-gap: 3px;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-size: clamp(0.375rem, -0.25rem + 2vw, 0.875rem);
    margin-right: -20px;
}

#section_2 .section_content a img {
    width: 29px;
    height: 35px;
}

/* SECTION 3 */

#section_3 {
    background: url('../images/common/section_3_background.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
}

#section_3 .section_3_container img {
    margin-top: 33px;
}

#section_3 .section_3_container {
    max-width: 1148px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    column-gap: 15px;    
    margin: 0 auto;
}

#section_3 .section_3_container .section_3_content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, -2.4375rem + 11vw, 3.75rem);
    color: #FFFFFF;
}

#section_3 .section_3_container .section_3_content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, -2.4375rem + 11vw, 3.75rem);
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #997E22;
}

#section_3 .section_3_container a {
    padding: 16px 46px;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5BC22;
    color: #FFFFFF;
    transition: 0.5s ease;
    margin-top: 35px;
    margin-bottom: 86px;
}

/* SECTION 4 */

#section_4 {
    width: 100%;
    background: url('../images/common/section_4_background.fw.png') no-repeat;
    background-size: cover;
}

#section_4 .section_4_title {
    max-width: 843px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#section_4 .section_4_title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem, -0.3594rem + 2.75vw, 1.1875rem);
    letter-spacing: 3px;
    color: #E5BB21;
    padding-top: 66px;
}

#section_4 .section_4_title h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem, -2.7813rem + 10.5vw, 3.125rem);
    letter-spacing: 1px;
    background: linear-gradient(to right, #EBE680, #997E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section_4 .section_4_title h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem, -0.3594rem + 2.75vw, 1.1875rem);
    letter-spacing: 3px;
    color: #131313;
    padding-bottom: 41px;
}

#section_4 .section_4_container h2 {
    font-family: 'Monterrat',sans-serif;
    font-size: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
    font-weight: bold;
    background: linear-gradient(to right, #EBE680, #997E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section_4 .section_4_container {
    position: relative;
    max-width: 1855px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    margin: 0 auto;
    padding-bottom: 62px;
}

#section_4 .section_4_container .card_1 {
    width: 607px;
    height: 368px;
    position: relative;
}

#section_4 .section_4_container .card_2 {
    width: 607px;
    height: 368px;
    position: relative;
}

#section_4 .section_4_container .card_3 {
    width: 607px;
    height: 368px;
    position: relative;
}


#section_4 .section_4_container .card_1 {
    background: url('../images/common/card_1.fw.png');
}

#section_4 .section_4_container .card_2 {
    background: url('../images/common/card_2.fw.png');
}

#section_4 .section_4_container .card_3 {
    background: url('../images/common/card_3.fw.png');
}

#section_4 .section_4_container .card_shader {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);;
    padding: 21px 24px;
    bottom: 0;
}

#section_4 .section_4_container a {
    position: absolute;
    padding: 6px 15px;
    background-color: #E5BC22;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-right: 0;
    transform: translate(394%, -54%);
    color: #FFFFFF;
}

#section_5 {
    width: 100%;
    background: url('../images/common/section_5_background.fw.png') no-repeat;
    background-size: cover;
}

#section_5 .section_5_container {
    width: 90%;
    max-width: 1056px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-top: 350px;
}

#section_5 .section_5_container .right {
    width: 100%;
    max-width: 1004px;
    height: 526px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 90px;
    border-radius: 1px;
    margin-top: -160px;
    margin-left: -560px;
    position: relative;
}

#section_5 .section_5_container .left {
    max-width: 598px;
    width: 100%;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    z-index: 1;
}

#section_5 .section_5_container .right .right_content {

}